/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* zcool-xiaowei-regular - latin */
@font-face {
	font-family: 'ZCOOL XiaoWei';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/zcool-xiaowei-v10-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/zcool-xiaowei-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/zcool-xiaowei-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/zcool-xiaowei-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/zcool-xiaowei-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/zcool-xiaowei-v10-latin-regular.svg#ZCOOLXiaoWei') format('svg'); /* Legacy iOS */
  }

/* open-sans-regular - latin */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/open-sans-v34-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/open-sans-v34-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/open-sans-v34-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/open-sans-v34-latin-regular.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/open-sans-v34-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/open-sans-v34-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-500 - latin */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/open-sans-v34-latin-500.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/open-sans-v34-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/open-sans-v34-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/open-sans-v34-latin-500.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/open-sans-v34-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/open-sans-v34-latin-500.svg#OpenSans') format('svg'); /* Legacy iOS */
  }

  /* montserrat-500 - latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/montserrat-v25-latin-500.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/montserrat-v25-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/montserrat-v25-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/montserrat-v25-latin-500.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/montserrat-v25-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/montserrat-v25-latin-500.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-regular - latin */
  @font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/montserrat-v25-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/montserrat-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/montserrat-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/montserrat-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/montserrat-v25-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }

  /* aclonica-regular - latin */
@font-face {
	font-family: 'Aclonica';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/aclonica-v18-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/aclonica-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/aclonica-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/aclonica-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/aclonica-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/aclonica-v18-latin-regular.svg#Aclonica') format('svg'); /* Legacy iOS */
  }


  html {
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: inherit;
}
body {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	color: black;
	font-size: 16px;
	background-color: #F7F2EE;
}
img {
	max-width: 100;
	height: auto;
}
.wrapper {
	max-width: 1123px;
	margin: 0 auto;

}
a {
	text-decoration: none;
	color: black;
}

/* header start */
.header {
	top: 0;
	left: 0;
	width: 100%;
}
.headerWrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 45px;
}
.headerList {
	display: flex;
	flex-wrap: wrap;
}
.headerListItem {
	padding-right: 50px;
}
.headerListItem:last-child {
	padding-right: 0;
}
.headerLogo{
	display: block;
	margin:  auto;
}
.logoImg{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.headerNav {
	margin-top: auto;
	margin-bottom: auto;
}
.search {
	height: 24px;
	width: 19px;
	margin: auto;
	margin-right: 0;
}
.searchButton {
	background-color: transparent;
	border: none;
	cursor: pointer;
	
}
.menu {
	margin: auto;
	height: 24px;
	width: 30px;
	margin-top: auto;
	margin-bottom: auto;
	cursor: pointer;
	margin-right: 0;
}
.menuBtn {
	position: relative;
	width: 27px;
	height: 2px;
	border: none;
	background-color: black;
	cursor: pointer;
}
.menuBtn::before {
	position: absolute;
	left: 0;
	top: -7px;
	content: "";
	display: block;
	width: 27px;
	height: 2px;
	background-color: black;
}
.menuBtn::after {
	position: absolute;
	left: 0;
	bottom: -7px;
	content: "";
	display: block;
	width: 27px;
	height: 2px;
	background-color: black;
	
}

/* header end */

.section1 {
	background-size: cover;
	padding-top: 105px;
}
.title {
	font-family: 'ZCOOL XiaoWei';
	font-size: 45px;
	line-height: 70px;
	max-width: 646px;
	margin-bottom: 33px;
	color: #232020;
}
.subtitle {
	font-family: 'Open Sans';
	font-size: 18px;
	line-height: 30px;
	max-width: 500px;
	color: #404040;
	margin-bottom: 55px;
}
.btn1 {
	padding: 9px 13px;
	width: 135px;
	height: 41px;
	color: white;
	background-color: #232020;
	margin-right: 24px;
	cursor: pointer;
}
.btn2 {
	padding: 9px 23px;
	width: 135px;
	height: 41px;
	color: black;
	background-color: #F4F1EE;
	border: 1px solid #D48A5C;
	cursor: pointer;
}
.btn1:hover, .btn1:focus, .btn1:active {
	background-color: #484242;
}
.btn2:hover, .btn2:focus, .btn2:active {
	background-color: #dfd3c7;
}
.afterHeader {
	display: flex;
	margin-bottom: 117px;
}
.textPart {
	padding-top: 85px;
}
.imgPart {
	height: 506px;
	width: 477px;
}









.prewjuphotos {
	max-width: 1123px;
	display: flex;
	height: 351px;
	text-align: right;
	
}
.part1 {
	position: relative;
	margin-right: 15px;

}
.part2 {
	position: relative;
	margin-right: 15px;

}
.part3 {
	position: relative;
}

.photo1, .photo2, .photo3, .rectangle {
	position: relative;
}

.photo1 {
	width: 350px;
	height: 256px;
	z-index: 2;
}
.photo2 {
	width: 350px;
	height: 256px;
	z-index: 2;
}
.photo3 {
	width: 350px;
	height: 256px;
	z-index: 2;
}
.rectangle {

	width: 354px;
	height: 247px;
	left: -10px;
    top: -240px;
	z-index: 1;
}
.leftTopCorner {
	position: absolute;
	height: 81.42px;
	width: 199px;
	z-index: 3;
	top: 0px;
	right: 152px;
}
.frsttitle {
	font-family: 'ZCOOL XiaoWei';
	font-style: normal;
	position: absolute;
	top: -12px;
    right: 319px;
	z-index: 4;
	font-size: 14px;
	line-height: 65px;
	color: #fff;
}
.frstsub1 {
	font-family: 'ZCOOL XiaoWei';
	font-style: normal;
	position: absolute;
	z-index: 4;
	top: 12px;
	right: 221px;
	font-size: 14px;
	line-height: 65px;
} 
.frstsub2 {
	font-family: 'ZCOOL XiaoWei';
	font-style: normal;
	position: absolute;
	z-index: 4;
	top: 12px;
	right: 242px;
	font-size: 14px;
	line-height: 65px;
} 
.frstsub3 {
	font-family: 'ZCOOL XiaoWei';
	font-style: normal;
	position: absolute;
	z-index: 4;
	top: 12px;
	right: 235px;
	font-size: 14px;
	line-height: 65px;
} 
.text {
	font-family: 'ZCOOL XiaoWei';
	font-style: normal;
	position: absolute;
	color: #fff;
	max-width: 195px;
	font-size: 10px;
	line-height: 10px;
	z-index: 4;
	top: 219px;
	right: 130px;
	text-align: left;
} 












.cofeeBeans {
	max-width: 1440px;
	height: 729px;
	background: url("../img/coffee-beans.png");
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 141px;
}
.cofeeBeansTitle {
	font-family: 'ZCOOL XiaoWei';
	font-style: normal;
	font-weight: 400;
	font-size: 55px;
	line-height: 65px;
	text-align: center;
	padding-top: 264px;
	margin-bottom: 10px;
}
.cofeeBeansSub {

	margin-left: auto;
	margin-right: auto;
	width: 671px;
	height: 80px;
}
.cofeeBeansText {
	text-align: center;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #141313;
	letter-spacing: 1px;
}
.cofeeBeansBtn {
	width: 152px;
	height: 46px;
	margin-left: auto;
	margin-right: auto;

}
.beansBtn {
	width: 152px;
	height: 46px;
	background-color:#232020;
	color: #fff;
	cursor: pointer;
}
.beansBtn:hover {
	background-color:#404040;
}





/* popular product start */

.cafenaPopularProducts {
	max-width: 1123px;
	margin: 0 auto;
	margin-bottom: 117px;
}
.popularProduct {
	width: 165px;
	height: 42px;
	margin-left: 488px;
	margin-bottom: 14px;
	background-color: #232020;
	color: #fff;
	cursor: pointer;
}
.popularProduct:hover {
	background-color:#404040;
}
.productsListTitle {
	font-family: 'ZCOOL XiaoWei';
	font-style: normal;
	font-weight: 400;
	font-size: 55px;
	line-height: 65px;
	text-align: center;
	margin-bottom: 70px;
}

.productLists{
	display: flex;
}
.productList1 {
	margin-right: 50px;
	display: block;
	width: 635px;
}
.productList2 {
	display: block;
	width: 635px;
}

.cofeepeckage, .rectangle15 {
	position: relative;
}

.productListElem1 {
	height: 200px;
	margin-bottom: 5px;
	position: relative;
}
.productListElem2 {
	height: 200px;
	margin-bottom: 5px;
	position: relative;
}
.productListElem3 {
	height: 200px;
	position: relative;
}
.cofeepeckage {
	border-radius: 50%;
	z-index: 5;
}
.rectangle15 {
	width: 475px;
	height: 114px;
	top: -139px;
    left: 27px;
}
.elemTitle {
	font-family: 'ZCOOL XiaoWei';
	font-style: normal;
	position: absolute;
	font-weight: 400;
	font-size: 30px;
	line-height: 65px;
	color: #232020;
	top: 25px;
    left: 183px;
	width: 331px;
	height: 17px;
}
.price {
	position: absolute;
	font-weight: 600;
	font-size: 20px;
	line-height: 26px;
	color: #D48A5C;
	top: 97px;
    left: 440px;
	width: 36px;
	height: 24px;
}
/* popular product end */






/* cofee machine start */
.cofeeMachine {
	max-width: 100%;
	height: 674px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	display: flex;
}
.cofeeMachineTextPartBlock {
	max-width: 1440px;
	justify-content: space-between;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}
.cofeeMachineTextPart {

	padding-top: 170px;
	margin-right: 30px;
	margin-left: 165px;
}
.textPartTitle {
	font-family: 'ZCOOL XiaoWei';
	font-style: normal;
	font-weight: 400;
	font-size: 55px;
	line-height: 65px;
	color: #1C1A1A;
	width: 660px;
	margin-bottom: 34px;

}
.textPartText {
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #141313;
	width: 676px;
	height: 120px;
	
}
.textPartButton {
	width: 138px;
	height: 37px;
	background: #232020;
	color: #fff;
	cursor: pointer;
}
.textPartButton:hover {
	background-color: #404040;
}
.cofeeMachineImgPart {
	padding-right: 165px;
}
.cofeeMachineImage {
	width: 380px;
	height: 600px;
}
/* cofee machine end */


/* cafena best products start */
.cafenaBestProducts {
	max-width: 1123px;
	height: 670px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 94px;
}
.bestProductsTextPart {
	display: flex;
	padding-top: 91px;
	margin-bottom: 50px;
}
.bestProductsTitle {
	font-family: 'ZCOOL XiaoWei';
	font-style: normal;
	font-weight: 400;
	font-size: 55px;
	line-height: 65px;
	color: #1C1A1A;
	width: 523px;
	height: 67px;
	margin-right: 366px;
}
.bestProductsButton {
	width: 221px;
	height: 52px;
	background-color: #232020;
	color: #fff;
	cursor: pointer;
}
.bestProductsButton:hover {
	background-color: #404040;
}
.bestProductsImgPart {
	max-width: 1123px;
	display: flex;
	
}
.packages {
	position: relative;
	width: 350px;
	height: 454px;
	margin-right: 30px;
}
.bestProductsImage, .whiteRectangle {
	position: relative;
}
.bestProductsImage {
	z-index: 1;
	top: 40px;
    left: 25px;
}
.whiteRectangle {
	left: 0;
    top: -250px;
}
.rating {
	bottom: 105px;
    left: 27px;
	position: absolute;
	display: flex;
	z-index: 5;
	width: 180px;
}
.theWordRating {
	
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #1C1A1A;
	padding-right: 4px;
}
.star {
	padding-right: 4px;
	border: none;
	background-color: white;
	cursor: pointer;
}
.whiteRectangle2 {
	position: absolute;
	left: 0;
    top: 20px;
}
.whiteRectangle3 {
	position: absolute;
	left: 0;
    top: 20px;
}

.vicaraguaTitle {
	font-family: 'ZCOOL XiaoWei';
	font-style: normal;
	position: absolute;
	font-weight: 400;
	font-size: 24px;
	line-height: 65px;
	color: #1C1A1A;
	bottom: 40px;
	left: 27px;
}
.price1 {
	position: absolute;
	font-weight: 600;
	font-size: 16px;
	line-height: 26px;
	color: #1C1A1A;
	bottom: 18px;
	left: 27px;
}
.priceNum {
	position: absolute;
	font-weight: 600;
	font-size: 16px;
	line-height: 26px;
	color: #EAB665;
	bottom: 18px;
	left: 75px;
}

/* cafena best products end */




/* customers review start */

.customersReview {
	max-width: 1123px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 94.05px;
}
.customersReviewTextPart {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 87px;

}





.ReviewBtn {
	text-transform: uppercase;
	width: 222px;
	height: 35px;
	margin-left: 275px;
	margin-bottom: 34px;
	background-color: #232020;
	color: #fff;
	cursor: pointer;
	
}

.ReviewBtn:hover {
	background-color: #404040;
}



.customersReviewTitle {
	font-family: 'ZCOOL XiaoWei';
	font-style: normal;
	text-align: center;
	font-weight: 400;
	font-size: 55px;
	line-height: 65px;
	color: #1C1A1A;
	margin-bottom: 31px;
}
.customersReviewContent {
	max-width: 762px;
	max-height: 99px;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #5C5C5C;
	text-align: center;
	margin-left: 10px;
	margin-bottom: 39px;
}
.photoOfCustomer {
	border-radius: 50%;
	margin-left: 350px;
}
.nameOfCustomer {
	font-weight: 400;
	font-size: 16px;
	line-height: 65px;
	color: #1C1A1A;
	text-align: center;
}
.customersReviewTextPartContent {
	display: block;
}

.arrowLeft {
	width: 51px;
	height: 51px;
	margin-top: auto;
	margin-bottom: auto;
	cursor: pointer;
}
.arrowRight {
	width: 51px;
	height: 51px;
	margin-top: auto;
	margin-bottom: auto;
	cursor: pointer;
}




.customersReviewImgPart {
	display: block;
	max-width: 1110px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.imageOfMap {
	display: flex;
	
}

.bookingForms {
	position: absolute;
	display: block;
	height: 392px;
	background-color: white;
	width: 365px;
	bottom: 0px;
    left: 669px;
}
.reservation {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
	color: #D58A5C;
	text-align: center;
}
.bookingatable {
	font-family: 'ZCOOL XiaoWei';
	font-style: normal;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 29px;
	line-height: 65px;
	color: #1C1A1A;
	margin-bottom: 10px;
	text-align: center;
}
.label1 {
	font-family: 'ZCOOL XiaoWei';
	font-style: normal;
	font-size: 20px;
}
.numOfPersons {
	margin-bottom: 10px;
	width: 362px;
	height: 50px;
	border: none;
	background-color: #F4F1EE;
}
.numOfPersons:focus {
	outline: none;
}
.date {
	margin-bottom: 10px;
	width: 362px;
	height: 50px;
	border: none;
	background-color: #F4F1EE;
}
.date:focus {
	outline: none;
}
.email {
	margin-bottom: 20px;
	width: 362px;
	height: 50px;
	border: none;
	background-color: #F4F1EE;
}
.email:focus {
	outline: none;
}
.bookTable {
	margin-left: 104px;
	height: 30px;
	width: 144px;
	color: #fff;
	background: #232020;
	cursor: pointer;
}
.bookTable:hover {
	background-color: #404040;
}
/* customers review end */


/* news start */

.newsAndArticles {
	max-width: 1123px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 71px;
}
.newsAndArticlesText {
	width: 100%;
	margin-bottom: 58px;
}
.fromOurBlog {
	text-transform: uppercase;
	width: 167px;
	height: 35px;
	background: #232020;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #fff;
	margin-bottom: 34px;
	margin-left: 471px;
	cursor: pointer;
}
.fromOurBlog:hover {
	background-color: #404040;
}
.ourNews {
	font-family: 'ZCOOL XiaoWei';
	font-style: normal;
	font-weight: 400;
	font-size: 55px;
	line-height: 65px;
	color: #1C1A1A;
	text-align: center;
}
.newsAndArticlesImages {
	display: flex;
	width: 100%;
	justify-content: space-between;
	
}
.article {
	width: 350px;
	height: 454px;
	position: relative;
}
.restaurant {
	z-index: 2;
	width: 350px;
	height: 309px;
	position: absolute;
}
.capuccino {
	z-index: 2;
	width: 350px;
	height: 309px;
	position: absolute;
}
.woman {
	z-index: 2;
	width: 350px;
	height: 309px;
	position: absolute;
}
.rectangleSection5 {
	width: 350px;
	height: 454px;
	position: absolute;
	z-index: 1;
	left: 0;
	
}

.articleContent {
	position: absolute;
	display: flex;
	z-index: 5;
	color: #fff;
	bottom: 103px;
    left: 36px;
	width: 223px;
	justify-content: space-between;
}
.articleBy {
	color: #EAB665;
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
}
.articleText {
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
}
.articleTitle {
	font-family: 'ZCOOL XiaoWei';
	font-style: normal;
	position: absolute;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	z-index: 5;
	color: #fff;
	left: 36px;
	bottom: 46px;
	width: 251px;
	height: 52px;
}
.articleBtn {
	position: absolute;
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
	color: #EAB665;
	z-index: 5;
	bottom: 8px;
	left: 29px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.articleBtn::after {
	position: absolute;
	display: flex;
	content: " ";
	width: 17px;
	height: 9px;
	background-image: url("../img/svg/Vector.svg");
	left: 85px;
	bottom: 9px;
}

/* news end */


/* footer start */
.footerBlock {
	max-width: 100%;
	background-color: white;
	height: 499px;
	border-top: 0.5px solid #EAB665;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.upBtn {
	width: 51px;
	height: 51px;
	margin-left: auto;
	margin-right: auto;

}
.buttonArrowUp {
	position: absolute;
	top: -25px;
	
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.upBtnText {
	position: relative;
	width: 95px;
	height: 21px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 73px;
}
.upBtnTextContent {
	position: absolute;
	top: 5px;
	margin-left: 12px;
	text-transform: uppercase;
	text-align: center;
}
.CafenaContacts {
	display: flex;
	max-width: 1112px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 71px;
	justify-content: space-between;
}
.phoneImgAndText {
	display: flex;
	width: 249px;
}
.phoneImg {
	margin-right: 10px;
}
.wordPhone {
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 10px;
	font-weight: bold;
}
.cafenaPhoneNumber {
	margin-top: auto;
	margin-bottom: auto;
}



.geoPunktImgAndText {
	display: flex;
	width: 255px;
}
.geoPunkt {
	margin-right: 10px;
}
.wordAdress {
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 10px;
	font-weight: bold;
}
.cafenaAdress {
	margin-top: auto;
	margin-bottom: auto;
}

.footerEmailAdress {
	width: 350px;
	height: 40px;
	border: none;
	background-color:  #F2EAE2;;
}
.footerEmailAdress:focus {
	outline: none;
}



.SocialMedia {
	display: flex;
	max-width: 1112px;
	height: 115px;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;
}
.footerLogo {
	display: block;
	margin-bottom: 2px;
	width: 65px;
}
.footerLogoAndText {
	display: block;
}
.footerSocialContentText {
	max-width: 444px;
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
	color: #848484;
}



.socialMediasIcons {
	display: flex;
	position: relative;
	margin-top: auto;
	margin-bottom: auto;
	width: 200px;
	justify-content: space-between;

}
.rectangleForIcons {
	width: 46.06px;
	height: 46.06px;
	cursor: pointer;
	
}
.facebook {
	position: absolute;
	width: 21px;
	height: 21px;
	top: 12px;	
	left: 12px;
	cursor: pointer;
}
.inst {
	position: absolute;
	width: 21px;
	height: 21px;
	top: 12px;
	left: 88px;
	cursor: pointer;
}
.twitter {
	position: absolute;
	width: 21px;
	height: 21px;
	left: 165px;
    top: 12px;
	cursor: pointer;
}

















.copyRights {
	border-top: 0.5px solid #EAB665;
	height: 62px;
	width: 100%;
	position: absolute;
	bottom: 0;
}
.copyRightsText {
	text-align: center;
	color: #979797;
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
	margin-top: 18px;
}




/* footer end */